<h1>Edit User applications</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_application_path(@conn, :update, @user_applications)) %>

<span><%= link "Back", to: Routes.user_application_path(@conn, :index) %></span>
